body {
    background-color: black;
}

#image {
    display: block;
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

img {
    border: 5px solid white;
    width: 100%;
}

h1 {
    text-transform: uppercase;
}

p {
    font-size: 0.5rem;
}